@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourFont";
  src: url("/fonts/ibrand.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #00ff00;
  --secondary: #002200;
  --ter: #009f00;
  --color: #e9ffe9;
  --nutral: #ffffff;
  --background: #000000;
  --foreground: #171717;
  /* font */
  
  --font-primary: "ibrand", sans-serif;

  /* font colors */
  --font-primary: #e9ffe9;
  --font-secondary: #00ff00;
  --font-ter: #009f00;
  --font-color: #e9ffe9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
