@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourFont";
  src: url("/fonts/ibrand.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #00ff00;
  --secondary: #002200;
  --ter: #009f00;
  --color: #e9ffe9;
  --nutral: #ffffff;
  --background: #000800;
  --foreground: #171717;
  /* font */

  --font-primary: "ibrand", sans-serif;

  /* font colors */
  --font-primary: #e9ffe9;
  --font-secondary: #00ff00;
  --font-ter: #009f00;
  --font-color: #e9ffe9;

  /* gradients */
  --gradient-primary: linear-gradient(90deg, #00ff00 0%, #009f00 100%);
  --gradient-secondary: linear-gradient(90deg, #009f00 0%, #00ff00 100%);
  --gradient-ter: linear-gradient(90deg, #00ff00 0%, #009f00 100%);
  --gradient-color: linear-gradient(90deg, #00ff00 0%, #009f00 100%);

  /* radial gradients */
  --radial-gradient-primary: radial-gradient(circle, #00ff00 0%, #009f00 100%);
  --radial-gradient-white: radial-gradient(
    circle,
    #ffffff 0%,
    #fff 70%,
    var(--background) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* gradients */

.gradient-text {
  @apply text-transparent bg-clip-text;
  background: var(--radial-gradient-white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-primary-to-transparent {
  background: var(--primary);
  background: radial-gradient(
    circle,
    var(--primary) 0%,
    rgba(0, 8, 0, 0) 100%
  );
}

/* backgorunds */

.bg-blur {
  background: rgba(255, 255, 255, 0.068);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
}

/* Others */

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
